<form method="post" action="/army/new">
  <label>Army Name:</label>
<input type="text" name="army_name">
<br>
<label>Faction:</label>
<input type="text" name="faction">
<br>
<label>Unit Count:</label>
<input type="integer" name="unit_count">
<br>
<input type="submit" value="Create Army">
</form>
