<h1>Ooopsies!</h1>

<p>Either you entered a username that has already been taken or you failed to enter a username and/or password.</p>
<br>

<p>Please check your information or try a different username<p>

<a href="/signup">Return to Signup Page</a>
