<h1>Sign Up Page</h1>
<br>
<h2>Please Sign Up Below</h2>

<form method="post" action="/signup">
  <label>Userame:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="text" name="password">
<input type="submit" value="Sign Up">
</form>

<div class="top-right">
        <img class="header" src="img/main_header.png" alt="">
</div>
