  <label>Army Name:</label>
  <%= "#{@army.army_name}" %>
  <br>
  <label>Faction:</label>
  <%= "#{@army.faction}" %>
  <br>
  <label>Army Point Cost:</label>
  <%= "#{@army.army_point_cost}" %>
  <br>
  <label>Created By:</label>
  <br>
  <label>---------------------</label>
