  <label>Army Name:</label>
  <%= "#{@army.army_name}" %>
  <br>
  <label>Faction:</label>
  <%= "#{@army.faction}" %>
  <br>
  <label>Unit Count:</label>
  <%= "#{@army.unit_count}" %>
  <br>
  <label>Created By:</label>
  <%= "#{@army.user_id}" %>
  <br>
  <label>---------------------</label>
