
<div class="container">
  <img src="../img/web_background.png" alt="" style="width:100%;">
  <div class="top-left">
    <div class="font"><h1>WELCOME TO THE WARHAMMER 40K ARMY BUILDER!</h1>
    <br>
    <p>PLEASE <a href="/login">LOGIN</a>
      <br>
      OR
      <br>
      <a href="/signup">SIGN UP</a></p>
    </div>

  </div>
  <div class="top-right">
      <img class="header" src="img/main_header.png" alt="">
</div>
