<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Warhammer 40K Army Builder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <div class="wrapper">
      <!-- <img class="header" src="img/main_header.png" alt=""> -->

      <%= yield %>


    </div>
  </body>
</html>
