<h1>User Home Page</h1>

<p>Welcome <%= current_user.username %> </p>

  <a href="/armies/new">Create An Army</a></p>
  <a href="/armies">View Your Armies</a></p>

  <br><br>
  <a href="/logout">Logout</a>
